# -----------------------------------------------------------------
# .gitignore

# -----------------------------------------------------------------

# ignore all files starting with . or ~
.*
~*

node_modules
__inc
package-lock.json
yarn.lock
_bk*
__*

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore private/secret files
*.der
*.key
*.pem

# --------------------------------------------------------
# BEGIN Explictly Allowed Files (i.e. do NOT ignore these)
# --------------------------------------------------------

# track these files, if they exist
!.gitignore
